body
{
    background-color: rgb(38, 122, 247);
}
h1
{
    font-style: normal;
    text-align: left;
    font-size: 30pt;
}
h2
{
    font-style: normal;
    text-align: left;
    font-size: 20pt;
}
h3
{
    font-style: italic;
    text-align: left;
    font-size: 15pt;
}
.buttonSubmit
{
    color: black;
    fill: coral
}
.buttonInicio
{
    color: black;
    fill: rgb(220, 243, 17)
}
.buttonAtras
{
    color: black;
    fill: rgb(5, 252, 5)
}